<section>
	<h1>User Management</h1>
</section>

<section>
    <h3><a href="/users/new"><h3>ADD USER</a></h3>
</section>
<hr>

<section>
    <h2>All Users</h2>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Date Added</th>
                <th>Management Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @users.order("username ASC").each do |u| %>
                <tr>
                    <td><%= u.username %></td>
                    <td><%= u.full_name %></td>
                    <td><%= u.email %></td>
                    <td><%= formatted_date(u.created_at) %></td>
                    <td>
                        <form class="crud-button" method="get" action="/users/<%= u.username %>/edit">
                            <input type="submit" value="Edit">
                        </form>                
                        <form class="crud-button" method="post" action="/users/<%= u.username %>">
                            <input id="hidden" type="hidden" name="_method" value="delete">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
            <% end %>
        <tbody>
    </table>
</section>

