<section id="intro-content">
	<% @sorted_active_content.each do |con_sec| %>
		<% if con_sec.page_location == 0 %>
			<div id="<%= con_sec.css_id %>" class="<%= con_sec.css_class %>">
				<% if !con_sec.headline.blank? %>
					<h3 class="con-sec-headline"><%= con_sec.headline %></h3>
				<% end %>

				<% if !con_sec.body_copy.blank? %>
					<p class="con-sec-body"><%= con_sec.body_copy %></p>
				<% end %>
				
				<% if !con_sec.headline.blank? %>
					<% if con_sec.absolute_link? %>
						<p class="con-sec-link"><a href="http://<%= con_sec.formatted_link_url %>" target="_blank"><%= con_sec.link_text %></a></p>
					<% else %>
						<p class="con-sec-link"><a href="<%= con_sec.formatted_link_url %>"><%= con_sec.link_text %></a></p>
					<% end %>
				<% end %>				
			</div>
		<% end %>
	<% end %>
</section>

<section id="vip-content-grid">
	<% @sorted_active_content.each do |con_sec| %>
		<% if con_sec.page_location == 1 %>
			<div id="<%= con_sec.css_id %>" class="<%= con_sec.css_class %>">
				<% if !con_sec.headline.blank? %>
					<h3 class="con-sec-headline"><%= con_sec.headline %></h3>
				<% end %>
			</div>
		<% end %>
	<% end %>
	
	<% @sorted_active_content.each do |con_sec| %>
		<% if con_sec.page_location == 2 %>
			<div id="<%= con_sec.css_id %>" class="<%= con_sec.css_class %>">
				<% if !con_sec.headline.blank? %>
					<h3 class="con-sec-headline"><%= con_sec.headline %></h3>
				<% end %>

				<% if !con_sec.body_copy.blank? %>
					<p class="con-sec-body"><%= con_sec.body_copy %></p>
				<% end %>
				
				<% if !con_sec.headline.blank? %>
					<% if con_sec.absolute_link? %>
						<p class="con-sec-link"><a href="http://<%= con_sec.formatted_link_url %>" target="_blank"><%= con_sec.link_text %></a></p>
					<% else %>
						<p class="con-sec-link"><a href="<%= con_sec.formatted_link_url %>"><%= con_sec.link_text %></a></p>
					<% end %>
				<% end %>
			</div>
		<% end %>
	<% end %>

	<% @sorted_active_content.each do |con_sec| %>
		<% if con_sec.page_location == 3 %>
			<div id="<%= con_sec.css_id %>" class="<%= con_sec.css_class %>">
				<% if !con_sec.headline.blank? %>
					<h3 class="con-sec-headline"><%= con_sec.headline %></h3>
				<% end %>

				<% if !con_sec.body_copy.blank? %>
					<p class="con-sec-body"><%= con_sec.body_copy %></p>
				<% end %>
				
				<% if !con_sec.headline.blank? %>
					<% if con_sec.absolute_link? %>
						<p class="con-sec-link"><a href="http://<%= con_sec.formatted_link_url %>" target="_blank"><%= con_sec.link_text %></a></p>
					<% else %>
						<p class="con-sec-link"><a href="<%= con_sec.formatted_link_url %>"><%= con_sec.link_text %></a></p>
					<% end %>
				<% end %>
			</div>
		<% end %>
	<% end %>
	
	<% @sorted_active_content.each do |con_sec| %>
		<% if con_sec.page_location == 4 %>
			<div id="<%= con_sec.css_id %>" class="<%= con_sec.css_class %>">
				<% if !con_sec.headline.blank? %>
					<h3 class="con-sec-headline"><%= con_sec.headline %></h3>
				<% end %>

				<% if !con_sec.body_copy.blank? %>
					<p class="con-sec-body"><%= con_sec.body_copy %></p>
				<% end %>
				
				<% if !con_sec.headline.blank? %>
					<% if con_sec.absolute_link? %>
						<p class="con-sec-link"><a href="http://<%= con_sec.formatted_link_url %>" target="_blank"><%= con_sec.link_text %></a></p>
					<% else %>
						<p class="con-sec-link"><a href="<%= con_sec.formatted_link_url %>"><%= con_sec.link_text %></a></p>
					<% end %>
				<% end %>
			</div>
		<% end %>
	<% end %>
				
	<!-- empty container for 3Dfx trapezoid top (background in CSS) -->
	<div id="trap-top"></div>

	<!-- empty container for 3Dfx parallelogram left (background in CSS) -->
	<div id="para-left"></div>
							
	<!-- empty container for 3Dfx parallelogram right (background in CSS) -->
	<div id="para-right"></div>

	<!-- empty container for 3Dfx trapezoid bottom (background in CSS) -->
	<div id="trap-bottom"></div>
</section>

<section id="added-content">
	<% @sorted_active_content.each do |con_sec| %>
		<% if con_sec.page_location > 4 %>
			<div id="<%= con_sec.css_id %>" class="<%= con_sec.css_class %>">
				<% if !con_sec.headline.blank? %>
					<h3 class="con-sec-headline"><%= con_sec.headline %></h3>
				<% end %>

				<% if !con_sec.body_copy.blank? %>
					<p class="con-sec-body"><%= con_sec.body_copy %></p>
				<% end %>
				
				<% if !con_sec.headline.blank? %>
					<% if con_sec.absolute_link? %>
						<p class="con-sec-link"><a href="http://<%= con_sec.formatted_link_url %>" target="_blank"><%= con_sec.link_text %></a></p>
					<% else %>
						<p class="con-sec-link"><a href="<%= con_sec.formatted_link_url %>"><%= con_sec.link_text %></a></p>
					<% end %>
				<% end %>
			</div>
		<% end %>
	<% end %>
</section>
